[submodule "Ext/imgui"]
	path = Ext/imgui
	url = git@github.com:cschladetsch/imgui.git
[submodule "Ext/rang"]
	path = Ext/rang
	url = git@github.com:cschladetsch/rang.git
[submodule "Ext/cpp-httplib"]
	path = Ext/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "Ext/ENet"]
	path = Ext/ENet
	url = https://github.com/lsalzman/enet.git
[submodule "Ext/CppLmmModelStore"]
	path = Ext/CppLmmModelStore
	url = https://github.com/cschladetsch/CppLmmModelStore
[submodule "Ext/CppKaiCore"]
	path = Ext/CppKaiCore
	url = git@github.com:cschladetsch/CppKaiCore.git
[submodule "Ext/CppKaiLanguage"]
	path = Ext/CppKaiLanguage
	url = git@github.com:cschladetsch/CppKaiLanguage.git
